<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>What to do Next</title>
  <link href="/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
  <link href="/css/offcanvas.css" rel='stylesheet' type='text/css'/>
</head>
<body ng-app="taskApp" ng-controller="taskCtrl">
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/task">What Next</a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse" id="navbars">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/task">Tasks<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Notifications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Switch account</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">Current To Do List</h6>
    <div ng-repeat="task in todo" class="media text-muted pt-3 form-check border-bottom border-gray">
      <input type="checkbox" class="form-check-input" value="{{ task.id }}" ng-click="doneTask(task.id)"/>
      <img ng-holder="holder.js/12x22?theme=thumb&bg={{ task.category.color }}&fg={{ task.category.color }}&size=1" alt="{{ task.category.name }}" class="mr-2 rounded" holder-ng>
      <p class="media-body pb-3 mb-0 lh-125">
        {{ task.description }}
      </p>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">Completed Tasks</h6>
    <div ng-repeat="task in done" class="media text-muted pt-3 border-bottom border-gray">
      <img ng-holder="holder.js/12x22?theme=thumb&bg={{ task.category.color }}&fg={{ task.category.color }}&size=1" alt="" class="mr-2 rounded">
      <div class="media-body pb-3 mb-0 lh-125">
        <div class="d-flex justify-content-between align-items-center w-100">
          {{ task.description }}
        </div>
      </div>
    </div>
  </div>
</div>
</body>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/angular-1.6.9.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/holder.min.js"></script>
<script src="/js/task-controller.js"></script>

</html>